.image {
  width: 100%;
  font-family: sans-serif;
  /* 12em = half the width of the wrapper */ }
  .image .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
  .image #canvas {
    border: 1px solid yellow; }
  .image .image-canvas-container {
    flex: 0 1 auto;
    width: 300px;
    border: 5px solid #004C70;
    padding: 80px;
    border-radius: 50%;
    position: relative; }
  .image .controlsContainer {
    position: absolute;
    width: 370px;
    top: 0;
    right: -310px;
    color: #fff; }
    .image .controlsContainer .control {
      border-radius: 50%;
      background: #006495;
      margin-bottom: 10px;
      display: inline-block;
      margin-right: 5px; }
  .image .circle-container {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    left: -40px;
    top: -40px;
    pointer-events: none; }
    .image .circle-container > div {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      pointer-events: auto;
      margin: -2em;
      /* 2em = 4em/2 */
      /* half the width */ }
  .image .rotate-preview {
    margin-left: 100px; }
    .image .rotate-preview .download-link {
      margin-right: 10px; }
    .image .rotate-preview ul {
      display: flex;
      flex-flow: row nowrap;
      padding: 0; }
      .image .rotate-preview ul li {
        list-style-type: none; }
    .image .rotate-preview img {
      cursor: pointer;
      width: 85px;
      height: 85px;
      border: 2px solid transparent; }
      .image .rotate-preview img.selected {
        border-color: red; }
    .image .rotate-preview .title {
      text-align: center;
      margin-bottom: 10px; }
  .image .deg0 {
    transform: translate(16em); }
  .image .deg45 {
    transform: rotate(45deg) translate(16em) rotate(-45deg); }
  .image .deg135 {
    transform: rotate(135deg) translate(16em) rotate(-135deg); }
  .image .deg180 {
    transform: translate(-16em); }
  .image .deg225 {
    transform: rotate(225deg) translate(16em) rotate(-225deg); }
  .image .deg315 {
    transform: rotate(315deg) translate(16em) rotate(-315deg); }
